<div class="navbar navbar-expand-sm navbar-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="../../../assets/Logo.png" alt="Rodrigo Goznales">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/home']">Home</a>
                <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/about']">About</a>
                <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/portfolio']">Portfolio</a>
                <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/contact']">Contact</a>
            </div>
        </div>
    </div>
</div>

