<div class="body container-fluid">
    <div id="personal" class="row d-flex justify-content-center m-0 pb-5">
        <img src="/../../assets/RodrigoGonzalesCVcuadrado.png" alt="Rodrigo Gonzales Montes">
    </div>

    <div class="row aboutText mb-5">
        <h1 style="color: #262626;">About me:</h1>
        <p>
            Ever since I saw the first line of code, I knew the world of programming was my thing. My name is Rodrigo
            Gonzales currently based in Lima, Peru. After having gone through various topics related to technology and
            programming I have finally found my true passion: Web development. Apart from Spanish and English, I also
            know another language that I love and that is JavaScript. I have advanced knowledge in Angular and great
            ability to create backend services with express and connect them with some databases such as MongoDB or
            MySQL.
        </p>
        <p>
            I consider myself a very friendly, determined, proactive and curious person, which gives me the ability to
            get deeply into topics of interest to me, consume them and learn their content in a short time like a super
            massive black hole. That's right, I also like science, in addition to technology, and video games! And some
            of my hobbies are also sports and human psychology (Understanding the human being is key to coexistence and
            communication).
        </p>
    </div>

    <h1 class="mb-5" style="margin-left: 32px;">Skills:</h1>


    <div class="row">
        <div class="col-md-6 d-flex justify-content-center">
            <div class="row">
                <div class="col-12 mb-4 d-flex flex-column justify-content-center align-items-center">
                    <h1>Frontend</h1>
                </div>
                <div class="col-4 col-md-6 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3" src="/../../assets/HTML.png" alt="HTML">
                    <h2>HTML</h2>
                </div>
                <div class="col-4 col-md-6 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3" src="/../../assets/CSS.png" alt="CSS">
                    <h2>CSS</h2>
                </div>
                <div class="col-4 col-md-6 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3" src="/../../assets/JS.png" alt="HTML">
                    <h2>JavaScript</h2>
                </div>   
                <div class="col-4 col-md-6 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3" src="/../../assets/Angular.png" alt="CSS">
                    <h2>Angular</h2>
                </div> 
                <div class="col-4 col-md-6 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3" src="/../../assets/Figma.png" alt="HTML">
                    <h2>Figma</h2>
                </div> 
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-12 mb-4 d-flex flex-column justify-content-center align-items-center">
                    <h1>Backend</h1>
                </div>
                <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3" src="/../../assets/Node.js.png" alt="Nodejs">
                    <h2>Node.js</h2>
                </div>
                <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3" src="/../../assets/Java.png" alt="Java">
                    <h2>Java</h2>
                </div>  
                <div class="database col-12 mb-4 d-flex flex-column justify-content-center align-items-center">
                    <h1>DataBases</h1>
                </div>
                <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3" src="/../../assets/MongoDB.png" alt="Nodejs">
                    <h2>MongoDB</h2>
                </div>
                <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                    <img class="mb-3" src="/../../assets/MySQL.png" alt="Java">
                    <h2>MySQL</h2>
                </div>
            </div>
        </div>
    </div>
</div>