<div class="body container-fluid">
    
    <div class="imgContainer">

        <div class="mask">
            <img src="../../../assets/human.png" alt="Me">
        </div>

        <div class="textContainer d-flex flex-column align-items-center">
            <h1 style="font-size: 67px; font-weight: 800;">SOFTWARE ENGINEER</h1>
            <h2 style="font-size: 41px; font-weight: 700;">RODRIGO GONZALES MONTES</h2>
            <p style="font-size: 41px; font-weight: 400;">Portfolio</p>
        </div>

        <div class="socialContainer">
            <a href="https://github.com/rgonzalesm97" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/rodrigo-gonzales-montes/" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/rodrigogonzalesmo/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://twitter.com/Rodrigo83390774" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>

    </div>

</div>
