<div class="body container-fluid">

    <div class="bgContainer">
        
        <div class="textContainer d-flex flex-column align-items-center">
            <h1 style="font-size: 67px; font-weight: 800;">SOFTWARE ENGINEER</h1>
            <h2 style="font-size: 41px; font-weight: 700;">RODRIGO GONZALES MONTES</h2>
            <p style="font-size: 41px; font-weight: 400;">Portfolio</p>
        </div>
        
        <svg preserveAspectRatio="none" class="fondo" viewBox="0 0 1440 1024" fill="none"
        xmlns="http://www.w3.org/2000/svg">
            <g id="Home 1440x1024" clip-path="url(#clip0)">
                <rect width="1440" height="1024" fill="#262626" />
                <g id="Group 4">
                    <path id="Marco atras" fill-rule="evenodd" clip-rule="evenodd"
                    d="M552.484 198H65.5162V734H552.484V198ZM528.135 224.8H89.8646V707.2H528.135V224.8Z"
                        fill="#F2D027" />
                    <g id="Mask Group">
                        <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="9" width="1560" height="874">
                            <path id="Mascara diagonal" d="M1560 9L0 345V883L1560 555V9Z" fill="#F6F6F6" />
                        </mask>
                        <g mask="url(#mask0)">
                            <rect id="Rectangle 1" x="-51" width="1569" height="971" fill="#F2D027" />
                            <path id="Marco adelante" fill-rule="evenodd" clip-rule="evenodd"
                                d="M552.484 198H65.5162V899H552.484V198ZM528.135 233.05H89.8646V863.95H528.135V233.05Z"
                                fill="#262626" />
                            </g>
                    </g>
                </g>
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="1440" height="1024" fill="white" />
                </clipPath>
            </defs>
        </svg>
        <div class="maskContainer">
            <img @start class="mainPhoto" src="../../../assets/RGMFotoHome.png" alt="Rodrigo Gonzales Montes">
        </div>
        
        <img class="phoneImg" src="../../../assets/Screenshot_5.png" alt="Rodrigo Gonzales Montes">
    </div>
    
    <div class="socialContainer">
        <a href="https://github.com/rgonzalesm97" target="_blank"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/rodrigo-gonzales-montes/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://twitter.com/Rodrigo83390774" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>
    
    
</div>
